.cart-heading {
    margin-bottom: 50px;
    text-align: center;
}
.cart-heading h2 {
    padding: 10px 0;
}
.empty {
    display: grid;
    grid-column: auto/ span 4;
    justify-content: center;
    color: red;
    font-size: 40px;
}
